<div>
    <h1>React Tutorials</h1>
</div>

<div>
    <h2>React Fundamentals</h2>
    <ul>
        <li><a href="javascript:ReactFundamentals(2)">2. Hello World - First Component</a></li>
        <li><a href="javascript:ReactFundamentals(4)">4. Introduction to Properties</a></li>
    </ul>
</div>

<hr />

<div id="appMount"></div>
@section Scripts {
}
